* {
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #F00
}

body {
    background-color: #f2f2f2;
}

.top {
    padding-top: 25px;
    height: 75px;
    background: #ececec;
    border-bottom: 1px solid #d9d9d9;
}

.top .logo {
    width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}

.content {
    width: 980px;
    padding: 30px 15px;
    margin: 30px auto;
    border: 1px solid #e6e6e6;
    background: #fff;
    color: #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

/********************************************************************************************/
.login-left {
    float: left;
    width: 600px;
    height: 430px;
    background: url(../images/login_bg.jpg) no-repeat;
}

.login-right {
    float: right;
    width: 350px;
    height: 426px;
    border: #f2f2f2 2px solid;
}

.login-right h2 {
    display: block;
    height: 55px;
    line-height: 50px;
    font: 400 24px/44px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    border-bottom: #f2f2f2 1px solid;
}

.login-right li {
    list-style: none;
    width: 300px;
    height: 60px;

    margin-top: 20px;
    margin-left: 20px;
}

.login-right li .x-input {
    background: #fff;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
}

.login-right label {
    margin-right: 40px;
}

.login-right .btn-big {
    border: 0 none;
    background-color: #fff;
    padding: 0;
    font-size: 100%;
    cursor: pointer;
    margin-right: 10px;
}

.login-right .btn-big span {
    display: block;
    width: 200px;
    height: 38px;
    line-height: 38px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding-left: 0;
    background: #fc570e;
    color: #fff;
}

.login-right .btn-big span:hover {
    background: #de4909;

}

.login-right .need-signup {
    height: 50px;
    width: 350px;
    background: #fafafa;
}

.login-right .need-signup h3 {
    display: block;
    float: left;
    font: 14px/25px 'Microsoft Yahei';
    height: 50px;
    line-height: 50px;
    color: #e73e31;
    margin-left: 20px;
}

.login-right .need-signup a {
    display: block;
    float: right;
    color: #333;
    font-size: 12px;
    border: #ccc 1px solid;
    padding: 5px;
    margin-top: 10px;
    margin-right: 25px;
    background-color: #fdfdfd;
}

.login-right .need-signup a:hover {

    color: #e73e31;
    background-color: #f2f2f2;
}

/********************************************************************************************/
.register-left {
    width: 630px;

    float: left;
}

.register-left h2 {
    display: block;
    height: 55px;
    line-height: 50px;
    font: 400 24px/44px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    border-bottom: #f2f2f2 1px solid;
}


.register-left li {

    
    list-style: none;
    width: 400px;
    height: 60px;
    margin-top: 20px;
    margin-left: 80px;
    /* background-color: #39be39; */
    
}
.register-left li .form-label {
    float: left;
    display: block;
    width: 90px;
    height: 50px;
    /* background-color: #a57536; */
}

.register-left li .x-input {
    float: left;
    background: #fff;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
}
.register-left li .small {
    float: left;
    background: #fff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;

}

.register-left .warn {
    margin: 1px;
    font-style: normal;
    color: #ef4521;
    
}
.register-left .btn-get span {  
    display: block;
    float: left;
    margin-left: 20px;
    white-space: nowrap;
    color: #fff;
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background:#f89416;
    font-size: 14px;
}
.register-left .im a{
    color: rgb(20, 39, 148);
}
.register-left .btn-get span:hover {
    background: #ec8404;
}
.register-left .btn-big {
    border: 0 none;
    background-color: #fff;
    padding: 0;
    font-size: 100%;
    cursor: pointer;
    margin-right: 10px;
}

.register-left .btn-big span {
    display: block;
    width: 200px;
    height: 38px;
    line-height: 38px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding-left: 0;
    background: #fc570e;
    color: #fff;
}

.register-left .btn-big span:hover {
    background: #de4909;

}
/**/








.register-right {
    width: 320px;
    height: 320px;
    border-left: #999 1px dotted;
    float: right;
}

.register-right .descrip {
    display: block;
    font-size: 14px;
    line-height: 40px;
    line-height: 30px;
    margin: 80px 0 0 20px;
}

.register-right .btn-import span {
    margin-left: 20px;
    display: block;
    white-space: nowrap;
    color: #fff;
    width: 155px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-image: linear-gradient(#e2232c, #ca1823);
    font-size: 18px;
}

.register-right .btn-import span:hover {
    background: #ec1f29;
}

/********************************************************************************************/
.footer {
    font-size: 16px;
    color: #999;
    vertical-align: middle;
}

.footer a:hover {
    color: #000;
    font-weight: 900;
}

 
.error_tip{float:left;height:20px;line-height:20px;color:#e62e2e; font-size: 14px;display: none;}